__pycache__/

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

.vscode

postg.cnf
secret_key.txt
